*{
    margin:0;
    padding: 0;
}
body{
    background-image: url("../Images/NMS.webp");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    align-items: center;
    padding-top:40px;
    font-family: Space mono,Arial, Helvetica, sans-serif;
}
#container{
    background-color: rgba(251, 140, 118, 0.719);
    text-align: center;
    width:80% ;
    margin:0 auto;
    overflow:hidden;
    border-radius: 30px;
    border: 5px solid black;
    box-shadow: 5px -5px 5px rgb(216, 180, 69);
}
/*main content*/
h1{
    font-family:Orbitron, Arial, Helvetica, sans-serif;
    font-size:100px;
}
form div{
    margin: 20px 0px;
    padding:20px;
    border: 5px solid black;
    font-size: 20px;
}
.submit{
    background-color: rgb(252, 218, 27);
    padding: 10px;
    border-radius: 15px;
}
footer div{
    margin:20px;
}